@{
  Layout = "_Layout";
}

@model PierresAuthenticTreats.Models.Treat

<h2>Edit @Model.Name</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.TreatId)

  @Html.LabelFor(m => m.Name)
  @Html.EditorFor(m => m.Name)

  @Html.LabelFor(m => m.Price)
  @Html.EditorFor(m => m.Price, new { type="number", step="any" })

  <label for="flavors">Add Additional Flavor: </label>
  <input type="text" name="flavor" list="flavors">
  <datalist id="flavors">
    @foreach (var flavor in ViewBag.Flavors)
    {
      <option value="@flavor.Text">@flavor.Text</option>
    }
  </datalist>
  <input type="submit" value="Apply Changes" class="btn btn-primary" />
}


@using PierresAuthenticTreats.Models

<h2>Edit or remove flavors for @Model.Name: </h2>
<ul>
@foreach (FlavorTreat join in Model.JoinEntities)
{
  <li>@join.Flavor.Type</li>


}
</ul>
