@{
  Layout = "_Layout";
}

@model PierresAuthenticTreats.Models.Treat
<hr />
<h2>Edit @Model.Name</h2>
<hr />

<h3>Current flavor(s) in @Model.Name:</h3>
<ul>
  @foreach (FlavorTreat join in Model.JoinEntities)
  {
    <li>@join.Flavor.Type</li>
  }
</ul>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.TreatId)

  @Html.LabelFor(m => m.Name)
  @Html.EditorFor(m => m.Name)

  @Html.LabelFor(m => m.Price)
  @Html.EditorFor(m => m.Price, new { type="number", step="any" })

  <label for="flavors">Add Additional Flavor: </label>
  <input name="flavor" list="flavors">
  <datalist id="flavors">
    @foreach (var flavor in ViewBag.Flavors)
    {
      <option value="@flavor.Text">@flavor.Text</option>
    }
  </datalist>
  <input type="submit" value="Apply Changes" class="btn btn-primary" />
}


@using PierresAuthenticTreats.Models

<h3>Edit or remove flavors for @Model.Name: </h3>
<ul>
@foreach (FlavorTreat join in Model.JoinEntities)
{
  <li>
    <span>
      @using (Html.BeginForm("Edit", "Flavors", FormMethod.Post))
      {
        @Html.Hidden("flavorId", join.Flavor.FlavorId)
        @Html.Hidden("treatId", Model.TreatId)
        @Html.TextBox("type", join.Flavor.Type)
        <input type="submit" class="btn btn-primary" value="Apply" />
      }
  </span>
  <span>
      @using (Html.BeginForm("Delete", "Flavors", FormMethod.Post))
      {
        @Html.Hidden("flavorId", join.Flavor.FlavorId)
        <input type="submit" class="btn btn-danger" value="Delete" />
      }
  </span>
  </li>
}
</ul>

@Html.ActionLink($"Delete {Model.Name}", "Delete", new { id = Model.TreatId }, new { @class="btn btn-danger"})
