@{
  Layout = "_Layout";
}

@using PierresAuthenticTreats.Models

<div class="treats-home">
<h2>Treats for @User.Identity.Name</h2>

@if (Model.Count == 0)
{
  <p>No treats created yet, please create a treat!</p>
}
else
{
  @foreach (Treat treat in Model)
  {
    <div class="treats-list">
      <p><em>@treat.Name</em></p>
      <div class="btn-group">
        @Html.ActionLink("Edit", "Details", new { id = treat.TreatId }, new { @class = "treat-link btn" }) 
        @Html.ActionLink("Delete", "Delete", new { id = treat.TreatId }, new { @class="btn btn-danger"})
      </div>
    </div>
    
  }
}

@Html.ActionLink("Create Treat", "Create", null, null, new { @class="btn btn-primary"})
</div>